@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<section id="about">
    <div class="container">
        <p>Welcome to Makeup Me by Marisa and Kaylene. We are known for our love for cosmetic products and makeup, We have launched our very own makeup line called Makeup Me.</p>
    </div>
</section>