@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<section id="about">
    <div class="container">
        <p>Welcome to Makeup Me by Marisa. I am known for my love of cosmetic products and makeup, I have launched our very own makeup line called Makeup Me.</p>
    </div>
</section>