@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assessment2</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
<section id="about">
    <div class="container">
        <p>Welcome to Makeup Me by Marisa and Kaylene. We are known for our love for cosmetic products and makeup, We have launched our very own makeup line called Makeup Me.</p>
    </div>
</section>

<section>
    <div id="slideshow">
        <figure>
            <img src="/wwwroot/images/Kylie-New-Lipkit-22-Matte.jpg" alt="22">
            <img src="/wwwroot/images/Kylie-New-Lipkit-CandyK-Matte.jpg" alt="CandyK">
            <img src="/wwwroot/images/Kylie-New-Lipkit-PoiseK-Matte.jpg" alt="Poise K">
            <img src="/wwwroot/images/Kylie-New-Lipkit-KokoK-Matte.jpg" alt="Koko K">
            <img src="/wwwroot/images/Kylie-New-Lipkit-Exposed-Matte.jpg" alt="Exposed">
        </figure>
    </div>
</section>