<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:black;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contact Us
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Location:</h3>               
                <p style="margin-top:6%;line-height:35%">200Cameron Road, Tauranga</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">info@MakeupMe.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Twitter:</h3>
                <p style="margin-top:6%;line-height:35%">http://twitter.com/MakeupMe</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Facebook:</h3>
                <p style="margin-top:6%;line-height:35%">Facebook.com/MakeupMe</p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25259.449247445275!2d176.1482937385469!3d-37.68607217977572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6ddbdcdb018c15%3A0xb80a04195671d856!2sToi+Ohomai+Institute+of+Technology+-+Bongard+Campus%2C+Tauranga!5e0!3m2!1sen!2snz!4v1506033683561" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
