@{
    ViewData["Title"] = "Home Page";
}

<section id="showcase">
    <div class="container">
        <h1> Makeup Me </h1>
        <p>Created by Marisa</p>
    </div>
</section>

<section>
    <div id="slideshow">
        <figure>
            <img src="/wwwroot/images/Kylie-New-Lipkit-22-Matte.jpg" alt="22">
            <img src="/wwwroot/images/Kylie-New-Lipkit-CandyK-Matte.jpg" alt="CandyK">
            <img src="/wwwroot/images/Kylie-New-Lipkit-PoiseK-Matte.jpg" alt="Poise K">
            <img src="/wwwroot/images/Kylie-New-Lipkit-KokoK-Matte.jpg" alt="Koko K">
            <img src="/wwwroot/images/Kylie-New-Lipkit-Exposed-Matte.jpg" alt="Exposed">
        </figure>
    </div>
</section>
