@{
    ViewData["Title"] = "Portfolio";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

 <section>
    <div id="portfolio">
            <div class="container">
                <p>Here are our lovely designs and creations</p>

            <div class="container-fluid">
                <img src="/wwwroot/images/Kylie-New-Lipkit-22-Matte.jpg" alt="22" width="350" height="350">
                <img src="/wwwroot/images/Kylie-New-Lipkit-CandyK-Matte.jpg" alt="CandyK" width="350" height="350">
                <img src="/wwwroot/images/Kylie-New-Lipkit-KokoK-Matte.jpg" alt="KokoK" width="350" height="350">
            </div>

            <div class="container-fluid">
                <img src="/wwwroot/images/Kylie-New-Lipkit-22-Matte.jpg" alt="22" width="350" height="350">
                <img src="/wwwroot/images/Kylie-New-Lipkit-CandyK-Matte.jpg" alt="CandyK" width="350" height="350">
                <img src="/wwwroot/images/Kylie-New-Lipkit-KokoK-Matte.jpg" alt="KokoK" width="350" height="350">
            </div>
        </div>
    </div>
</section>
