@{
    ViewData["Title"] = "Team";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<section id="team">
    <div class="container">
        <p>Our amazing team</p>
            <div class=team-member>
              <img src="~/images/Me.jpg" alt"me" width="250" height="250">
              <h2>Marisa Wadsworth</h2>
              <p>Creator</p>
            </div>
            <div class=team-member>
              <img src="~/images/pic.jpg" alt"me" width="250" height="250">
              <h2>Kaylene Rameka - Ririnui</h2>
              <p>Creator</p>
            </div>
        </div>
    </div>
</section>
